{% extends 'portfolio/layout.html' %}

    {% block main %}
        <h1 class="pageTitle">Contactos</h1>
        <br>
        <br>

        <div class= 'div_contacts'>
        </a>
            <div class="social_media">
                <a class="social_media" href="https://www.linkedin.com/in/tom%C3%A1s-cardoso-755576208/" target="_blank">
                    <div class="image_social_media">
                        <p><img class="image_social_media" src="https://res.cloudinary.com/dpp5tcpvh/image/upload/v1655081815/portfolio/static/portfolio/images/linkedin_gafdwc.png"></p>
                    </div>
                </div>
            </a>
        </div>
    {% endblock %}